@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana,
    sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

/* Navbar */
.navbar {
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -490px;
  width: 980px;
  height: 36px;
  border: 1px solid red;
  z-index: 1;
}

/* Content */
.wrapper {
  min-width: 1024px;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(538px, 1180px) auto auto;
  align-content: start;
  gap: 2px;
}

.hero {
  grid-column: 1 / -1;
  min-height: 538px;
  max-height: 1180px;
  position: relative;
  background-image: url("assets/images/your_verse_hero.jpg");
  background-size: cover;
  background-position: bottom;
}

.hero-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  margin-top: -170px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
}

.hero-wrapper > *,
.promo {
  cursor: pointer;
}

@media (min-height: 1250px) {
  .hero-wrapper {
    margin-top: -400px;
  }
}

.hero-wrapper h1 {
  font-size: 60px;
}

.hero-wrapper p {
  width: 58%;
  margin: 0 auto;
  font-size: 30px;
  text-shadow: 1px 1px 5px rgba(192, 192, 192, 0.5);
}

.hero-wrapper button {
  font-size: 22px;
  background-color: transparent;
  border: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-top: 36px;
  text-shadow: 1px 1px 5px rgba(192, 192, 192, 0.5);
}

.hero-wrapper button:hover {
  text-decoration: underline;
}

.hero-wrapper button img {
  vertical-align: middle;
}

.copyright {
  grid-column: 1 / span 2;
}

.footer-nav {
  grid-column: span 2 / -1;
}
