@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana,
    sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

/* Navbar */
.navbar {
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -490px;
  width: 980px;
  height: 36px;
  z-index: 1;
  background-image: linear-gradient(
    rgb(107, 107, 107),
    rgb(97, 97, 97) 50%,
    rgb(116, 116, 116) 50%,
    rgb(146, 146, 146)
  );
  border: 1px solid rgb(102, 102, 102);
  border-radius: 5px;
  box-shadow: 1px 0 2px rgb(92, 92, 92);
}

.navbar-item {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  width: 104px;
  color: white;
  text-shadow: 1px 1px 5px rgba(71, 71, 71, 0.5);
  text-decoration: none;
  font-size: 13px;
  line-height: 36px;
  text-align: center;
  border-right: 1px solid rgb(83, 83, 83);
}

.navbar-item:last-child {
  border-right: none;
  width: 148px;
}

.navbar-item:hover {
  background-color: rgba(15, 15, 15, 0.4);
}

.navbar-icon {
  vertical-align: middle;
}

.navbar-item input[type="search"] {
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url("assets/icons/search-white.svg");
  background-size: auto 12px;
  background-repeat: no-repeat;
  background-position: 5px 50%;
  border: 0;
  border-radius: 9px;
  box-shadow: 0 3px rgb(71, 71, 71) inset, 0 1px rgb(168, 168, 168);
  width: 70%;
  padding-left: 24px;
}

/* Content */
.wrapper {
  min-width: 1024px;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: minmax(538px, 1180px) auto auto;
  align-content: start;
  gap: 2px;
}

.hero {
  grid-column: 1 / -1;
  min-height: 538px;
  max-height: 1180px;
  position: relative;
  background-image: url("assets/images/your_verse_hero.jpg");
  background-size: cover;
  background-position: bottom;
}

.hero-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  margin-top: -170px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
}

.hero-wrapper > *,
.promo {
  cursor: pointer;
}

img {
  max-width: 100%;
}

@media (min-height: 1250px) {
  .hero-wrapper {
    margin-top: -400px;
  }
}

.hero-wrapper h1 {
  font-size: 60px;
}

.hero-wrapper p {
  width: 58%;
  margin: 0 auto;
  font-size: 30px;
  text-shadow: 1px 1px 5px rgba(192, 192, 192, 0.5);
}

.hero-wrapper button {
  font-size: 22px;
  background-color: transparent;
  border: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-top: 36px;
  text-shadow: 1px 1px 5px rgba(192, 192, 192, 0.5);
}

.hero-wrapper button:hover {
  text-decoration: underline;
}

.hero-wrapper button img {
  vertical-align: middle;
}

.copyright,
.footer-navbar {
  padding-bottom: 26px;
  font-size: 10px;
  line-height: 12px;
  color: rgb(110, 110, 110);
}

.copyright > p,
.footer-navbar > nav {
  padding-top: 1.5em;
}

.copyright a,
.footer-navbar a {
  text-decoration: none;
}

.copyright a:hover,
.footer-navbar a:hover {
  text-decoration: underline;
}

.copyright {
  grid-column: 1 / span 2;
  padding-left: 32%;
}

.footer-navbar {
  grid-column: span 2 / -1;
  padding-left: 3%;
}

.divider {
  margin-left: 4px;
  margin-right: 4px;
}

#flag {
  vertical-align: middle;
  border-radius: 50%;
}
